{% extends 'content.html' %}
{% block title %}Index{% endblock %}
{% block nav %}
{{block.super}}
{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row">
  <div class="col-md-8">
    <form>
      <textarea class="form-control" rows="3 type="text" name="question" placeholder="请输入你的问题"></textarea><br>
      <input type="submit" value="提交">
    </form>
  </div>
  <div class="col-md-4">
      <ul>
      <li>我的收藏</li>
      <li>我关注的问题</li>
      <li>邀请我回答的问题</li>
      </ul>
  </div>
</div>
</div>



{% endblock %}
