{% extends 'content.html' %}
{% block title %}Index{% endblock %}
{% block nav %}
{{block.super}}
{% endblock %}

{% block content %}
      <style>
        *{margin:0;}
        li {list-style-type:none;}
        .title{font-family:"微软雅黑";font-size:25pt;}
        .position{float:left;margin-right:300px;}
        .content {color:#259;font-size:14px;font-weight:700;border-top:1px solid #eee;margin-top:15px;}
        .username {color:inherit;font-size:14px;font-weight:700;}
        .date::before {content:",";}
        .date {color:#999;}
        .main {line-height:1.7;}

      </style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
     

      <div>
        <ul class="title">
        <li class="position"><a href="{% url 'zhihu:create_question' %}"><span class="glyphicon glyphicon-plus"></span>&nbsp;提问</a>
        </li>
        <li>
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;写文章</li>
        </ul>
      </div>
    
    {% if latest_question %}
      
        {% for question in latest_question %}
        <div class="main">
        <ul>
          
          <li class="content"><a href="{% url 'zhihu:post_question' question.id %}">{{question.title}}</a></li>
          <li class="username">{{question.user}}
          {% if question.user.userpersonal.signature %}
          <span class="date">{{question.user.userpersonal.signature}},
          {{question.updatedate}}<span>
          {% else %}
          <span class="date">
          {{question.updatedate}}
          {% endif %}
          <span>
          </li>
          <li>内容：{{question.content}}</li>
          <li class="position"><a href={% url "zhihu:post_question" question.id %}>回答</a></li>
          <li>举报</li>
        </ul>
        </div>
        {% endfor %}
      
    {% else %}
      <p>当前没有问题</p>
    {% endif %}
    
    </div>

    <div class="col-md-4">
      <ul>
      <li>我的收藏</li>
      <li>我关注的问题</li>
      <li>邀请我回答的问题</li>
      </ul>
    </div>
  </div>
</div>



{% endblock %}
